@using Sitecore.Mvc

<div class="row">
    <div class="col-md-4">
        <div class="info">

        </div>
        <div class="description">
            <h4 class="text-center">@Html.Sitecore().Field("HeadOne")</h4>
            <p>@Html.Sitecore().Field("MainOne")</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info">

        </div>
        <div class="description">
            <h4 class="text-center">@Html.Sitecore().Field("HeadTwo")</h4>
            <p>@Html.Sitecore().Field("MainTwo")</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info">

        </div>
        <div class="description">
            <h4 class="text-center">@Html.Sitecore().Field("HeadTree")</h4>
            <p>@Html.Sitecore().Field("MainTree")</p>
        </div>
    </div>
</div>
@*The kit comes with components designed to look perfect together. All components fit perfectly with each other.*@