@using Sitecore.Mvc

@{
    Layout = null;
}
<div class="row">
    <div class="col-md-4 align-self-between">
        <div class="card mb-4 shadow-sm">
            <div class="view view-cascade overlay">
                <img class="bd-placeholder-img card-img-top" style="width:100%; height:225px" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade">
                <p class="card-text">
                    <div>
                        <b>Name:</b> Suzuki NDSS32
                    </div>
                    <div>
                        <b>Type Engine:</b> Single
                    </div>
                    <div>
                        <b>Max Speed:</b> 100 km / hour
                    </div>
                    <div>
                        <b>Power:</b> 200
                    </div>
                    <div>
                        <b>Fuel:</b> 100/32
                    </div>
                    <div>
                        <b>Description:</b> Vfdfdsfdsfdsfsdfdsfdsfdsfdsggsagdfsagfag
                    </div>
                    <div>
                        <b>Price:</b> 1234 $ per one day
                    </div>
                    @*<div class="btn-group">
                            <b>Provider:&nbsp</b> <a asp-controller="Home" asp-action="ProviderBike" asp-route-accId="@u.AccountId"> Buy</a>
                        </div>*@
                </p>
                <hr />
                <button class="btn btn-sm btn-outline-success" type="submit">Rent</button>
            </div>
        </div>
    </div>

    @*sasa*@

    <div class="col-md-4 align-self-between">
        <div class="card mb-4 shadow-sm">
            <div class="view view-cascade overlay">
                <img class="bd-placeholder-img card-img-top" style="width:100%; height:225px" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade">
                <p class="card-text">
                    <div>
                        <b>Name:</b> Suzuki NDSS32
                    </div>
                    <div>
                        <b>Type Engine:</b> Single
                    </div>
                    <div>
                        <b>Max Speed:</b> 100 km / hour
                    </div>
                    <div>
                        <b>Power:</b> 200
                    </div>
                    <div>
                        <b>Fuel:</b> 100/32
                    </div>
                    <div>
                        <b>Description:</b> Vfdfdsfdsfdsfsdfdsfdsfdsfdsggsagdfsagfag
                    </div>
                    <div>
                        <b>Price:</b> 1234 $ per one day
                    </div>
                    @*<div class="btn-group">
                            <b>Provider:&nbsp</b> <a asp-controller="Home" asp-action="ProviderBike" asp-route-accId="@u.AccountId"> Buy</a>
                        </div>*@
                </p>
                <hr />
                <button class="btn btn-sm btn-outline-success" type="submit">Rent</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 align-self-between">
        <div class="card mb-4 shadow-sm">
            <div class="view view-cascade overlay">
                <img class="bd-placeholder-img card-img-top" style="width:100%; height:225px" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade">
                <p class="card-text">
                    <div>
                        <b>Name:</b> Suzuki NDSS32
                    </div>
                    <div>
                        <b>Type Engine:</b> Single
                    </div>
                    <div>
                        <b>Max Speed:</b> 100 km / hour
                    </div>
                    <div>
                        <b>Power:</b> 200
                    </div>
                    <div>
                        <b>Fuel:</b> 100/32
                    </div>
                    <div>
                        <b>Description:</b> Vfdfdsfdsfdsfsdfdsfdsfdsfdsggsagdfsagfag
                    </div>
                    <div>
                        <b>Price:</b> 1234 $ per one day
                    </div>
                    @*<div class="btn-group">
                            <b>Provider:&nbsp</b> <a asp-controller="Home" asp-action="ProviderBike" asp-route-accId="@u.AccountId"> Buy</a>
                        </div>*@
                </p>
                <hr />
                <button class="btn btn-sm btn-outline-success" type="submit">Rent</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 align-self-between">
        <div class="card mb-4 shadow-sm">
            <div class="view view-cascade overlay">
                <img class="bd-placeholder-img card-img-top" style="width:100%; height:225px" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade">
                <p class="card-text">
                    <div>
                        <b>Name:</b> Suzuki NDSS32
                    </div>
                    <div>
                        <b>Type Engine:</b> Single
                    </div>
                    <div>
                        <b>Max Speed:</b> 100 km / hour
                    </div>
                    <div>
                        <b>Power:</b> 200
                    </div>
                    <div>
                        <b>Fuel:</b> 100/32
                    </div>
                    <div>
                        <b>Description:</b> Vfdfdsfdsfdsfsdfdsfdsfdsfdsggsagdfsagfag
                    </div>
                    <div>
                        <b>Price:</b> 1234 $ per one day
                    </div>
                    @*<div class="btn-group">
                            <b>Provider:&nbsp</b> <a asp-controller="Home" asp-action="ProviderBike" asp-route-accId="@u.AccountId"> Buy</a>
                        </div>*@
                </p>
                <hr />
                <button class="btn btn-sm btn-outline-success" type="submit">Rent</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 align-self-between">
        <div class="card mb-4 shadow-sm">
            <div class="view view-cascade overlay">
                <img class="bd-placeholder-img card-img-top" style="width:100%; height:225px" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade">
                <p class="card-text">
                    <div>
                        <b>Name:</b> Suzuki NDSS32
                    </div>
                    <div>
                        <b>Type Engine:</b> Single
                    </div>
                    <div>
                        <b>Max Speed:</b> 100 km / hour
                    </div>
                    <div>
                        <b>Power:</b> 200
                    </div>
                    <div>
                        <b>Fuel:</b> 100/32
                    </div>
                    <div>
                        <b>Description:</b> Vfdfdsfdsfdsfsdfdsfdsfdsfdsggsagdfsagfag
                    </div>
                    <div>
                        <b>Price:</b> 1234 $ per one day
                    </div>
                    @*<div class="btn-group">
                            <b>Provider:&nbsp</b> <a asp-controller="Home" asp-action="ProviderBike" asp-route-accId="@u.AccountId"> Buy</a>
                        </div>*@
                </p>
                <hr />
                <button class="btn btn-sm btn-outline-success" type="submit">Rent</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 align-self-between">
        <div class="card mb-4 shadow-sm">
            <div class="view view-cascade overlay">
                <img class="bd-placeholder-img card-img-top" style="width:100%; height:225px" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade">
                <p class="card-text">
                    <div>
                        <b>Name:</b> Suzuki NDSS32
                    </div>
                    <div>
                        <b>Type Engine:</b> Single
                    </div>
                    <div>
                        <b>Max Speed:</b> 100 km / hour
                    </div>
                    <div>
                        <b>Power:</b> 200
                    </div>
                    <div>
                        <b>Fuel:</b> 100/32
                    </div>
                    <div>
                        <b>Description:</b> Vfdfdsfdsfdsfsdfdsfdsfdsfdsggsagdfsagfag
                    </div>
                    <div>
                        <b>Price:</b> 1234 $ per one day
                    </div>
                    @*<div class="btn-group">
                            <b>Provider:&nbsp</b> <a asp-controller="Home" asp-action="ProviderBike" asp-route-accId="@u.AccountId"> Buy</a>
                        </div>*@
                </p>
                <hr />
                <button class="btn btn-sm btn-outline-success" type="submit">Rent</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 align-self-between">
        <div class="card mb-4 shadow-sm">
            <div class="view view-cascade overlay">
                <img class="bd-placeholder-img card-img-top" style="width:100%; height:225px" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade">
                <p class="card-text">
                    <div>
                        <b>Name:</b> Suzuki NDSS32
                    </div>
                    <div>
                        <b>Type Engine:</b> Single
                    </div>
                    <div>
                        <b>Max Speed:</b> 100 km / hour
                    </div>
                    <div>
                        <b>Power:</b> 200
                    </div>
                    <div>
                        <b>Fuel:</b> 100/32
                    </div>
                    <div>
                        <b>Description:</b> Vfdfdsfdsfdsfsdfdsfdsfdsfdsggsagdfsagfag
                    </div>
                    <div>
                        <b>Price:</b> 1234 $ per one day
                    </div>
                    @*<div class="btn-group">
                            <b>Provider:&nbsp</b> <a asp-controller="Home" asp-action="ProviderBike" asp-route-accId="@u.AccountId"> Buy</a>
                        </div>*@
                </p>
                <hr />
                <button class="btn btn-sm btn-outline-success" type="submit">Rent</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 align-self-between">
        <div class="card mb-4 shadow-sm">
            <div class="view view-cascade overlay">
                <img class="bd-placeholder-img card-img-top" style="width:100%; height:225px" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade">
                <p class="card-text">
                    <div>
                        <b>Name:</b> Suzuki NDSS32
                    </div>
                    <div>
                        <b>Type Engine:</b> Single
                    </div>
                    <div>
                        <b>Max Speed:</b> 100 km / hour
                    </div>
                    <div>
                        <b>Power:</b> 200
                    </div>
                    <div>
                        <b>Fuel:</b> 100/32
                    </div>
                    <div>
                        <b>Description:</b> Vfdfdsfdsfdsfsdfdsfdsfdsfdsggsagdfsagfag
                    </div>
                    <div>
                        <b>Price:</b> 1234 $ per one day
                    </div>
                    @*<div class="btn-group">
                            <b>Provider:&nbsp</b> <a asp-controller="Home" asp-action="ProviderBike" asp-route-accId="@u.AccountId"> Buy</a>
                        </div>*@
                </p>
                <hr />
                <button class="btn btn-sm btn-outline-success" type="submit">Rent</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 align-self-between">
        <div class="card mb-4 shadow-sm">
            <div class="view view-cascade overlay">
                <img class="bd-placeholder-img card-img-top" style="width:100%; height:225px" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade">
                <p class="card-text">
                    <div>
                        <b>Name:</b> Suzuki NDSS32
                    </div>
                    <div>
                        <b>Type Engine:</b> Single
                    </div>
                    <div>
                        <b>Max Speed:</b> 100 km / hour
                    </div>
                    <div>
                        <b>Power:</b> 200
                    </div>
                    <div>
                        <b>Fuel:</b> 100/32
                    </div>
                    <div>
                        <b>Description:</b> Vfdfdsfdsfdsfsdfdsfdsfdsfdsggsagdfsagfag
                    </div>
                    <div>
                        <b>Price:</b> 1234 $ per one day
                    </div>
                    @*<div class="btn-group">
                            <b>Provider:&nbsp</b> <a asp-controller="Home" asp-action="ProviderBike" asp-route-accId="@u.AccountId"> Buy</a>
                        </div>*@
                </p>
                <hr />
                <button class="btn btn-sm btn-outline-success" type="submit">Rent</button>
            </div>
        </div>
    </div>
</div>